[Match]
Name=mgmt0
[Link]
#MACAddress=02:49:92:7d:ae:1c
[Network]
DHCP=no
IPv6AcceptRA=no
LinkLocalAddressing=no
Address={{ external_address }}/24
Gateway={{ external_gateway }}
DNS=8.8.8.8
DNS=8.8.4.4
