[Match]
Name=mgmt1
[Link]
MACAddress=02\:6b\:98\:99\:13\:1e
[Network]
Address=10.10.10.2
Domains=ministack.dev
LinkLocalAddressing=no
IPv6AcceptRA=no
DHCP=no
